@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
/* style btn */

body{
  font-family:'Prompt', sans-serif;
  font-size: larger;
  background-color:black;
  color: white;
}

/* .btn{
  background-color: #000;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  padding: 5px;
  border-radius: 8px;
} */